src/main/mule/salesforce-composite-extend.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

	<flow name="salesforce-composite-http-flow" doc:id="46da2236-c593-4445-a7cc-86e2de097926">
		<http:listener doc:name="Listener" doc:id="cf301b7f-0f21-447b-9de2-76e29b8235ef" config-ref="HTTP_Listener_config" path="/composite-request" />
		<flow-ref doc:name="salesforce-composite-extend-flow" doc:id="d52a8873-c2b7-4999-ba4b-67e1b37cb6bb" name="salesforce-composite-extend-flow" />
	</flow>
	<flow name="salesforce-composite-extend-flow" doc:id="1c2ec97f-c0d1-4bad-a37c-af41dae70214">
		<ee:transform doc:name="split-composite" doc:id="e33534cc-ebd2-4b80-965f-789f5429ff3b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.compositeRequest]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[[]]" doc:name="records" doc:id="d5c14c8e-16f3-4ac4-beda-63bf6213d12b" variableName="records" />
		<set-variable value="#[[]]" doc:name="results" doc:id="c8b3ef51-b904-4623-9296-a0a2a2f6720c" variableName="results" />
		<set-variable value="#[[]]" doc:name="methods" doc:id="c7e38bf2-5d09-40f0-8bab-813017398fad" variableName="methods" />
		<set-variable value="#[{}]" doc:name="refs" doc:id="b5091d6d-ccd3-4528-a28b-a1c1b3ec9acd" variableName="refs" />
		<set-variable value="#[0]" doc:name="getsCount" doc:id="12eb4052-300d-484b-9b93-bd5959530715" variableName="getsCount" />
		<set-variable value="#[0]" doc:name="nonGetsCount" doc:id="9571c27d-b569-41fd-8a5b-711f68f41279" variableName="nonGetsCount" />
		<foreach doc:name="For Each" doc:id="ec69c1cc-218c-493b-9a41-41e0fdd1da69">

			<ee:transform doc:name="method" doc:id="268f6625-e666-4cd2-994a-662bd15f290c">

				<ee:variables>
					<ee:set-variable variableName="method"><![CDATA[%dw 2.0
output application/java
---
payload.method]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="bad7e9d0-e3b8-429b-b354-24bf17bacd97">
				<when expression="#[vars.method == 'GET']">
					<ee:transform doc:name="getsCount" doc:id="74adf89e-5d6f-410e-b473-44b228e5d417">
						<ee:variables>
							<ee:set-variable variableName="getsCount"><![CDATA[%dw 2.0
output application/java
---
vars.getsCount+ 1]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<otherwise>
					<ee:transform doc:name="nonGetsCount" doc:id="52989f94-8342-46e8-9ef1-97ea0600733f">
						<ee:variables>
							<ee:set-variable variableName="nonGetsCount"><![CDATA[%dw 2.0
output application/java
---
vars.nonGetsCount+ 1]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</otherwise>
			</choice>
			<ee:transform doc:name="methods" doc:id="79f96cb8-5306-423e-beaf-edb1d008c2cf">
				<ee:variables>
					<ee:set-variable variableName="methods"><![CDATA[%dw 2.0
output application/java
---
vars.methods <<  payload.method ]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="compositeResponse" doc:id="0e9d0f38-1abc-4a13-8e9f-232a78fbea89">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="records"><![CDATA[%dw 2.0
output application/java
---
vars.records + payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="55bbc94d-f34a-439d-9206-c344a5f38f10">
				<when expression="#[vars.getsCount == 5 or vars.nonGetsCount == 25]">
					<flow-ref doc:name="salesforce-composite-extend-call-salesforce-sub-flow" doc:id="c3dc94a3-eaa6-474d-b022-fd8e93021990" name="salesforce-composite-extend-call-salesforce-sub-flow" />
					<set-variable value="#[[]]" doc:name="records" doc:id="faa96873-2419-4109-85c4-d698bb847ca0" variableName="records" />
					<set-variable value="#[0]" doc:name="getsCount" doc:id="67f2f35e-584b-4406-a856-bc9875fea472" variableName="getsCount" />
					<set-variable value="#[0]" doc:name="nonGetsCount" doc:id="c47ae696-03b8-46ef-abe2-f8286c196d63" variableName="nonGetsCount" />
					<set-variable value="#[[]]" doc:name="methods" doc:id="5c3c6944-c9ca-4aae-961b-39f96141cd47" variableName="methods" />
				</when>
			</choice>

		</foreach>
		<choice doc:name="Choice" doc:id="cbef2565-ab98-4277-bae1-cc42d0a52ca5">
			<when expression="#[vars.records != 0]">
				<flow-ref doc:name="salesforce-composite-extend-call-salesforce-sub-flow" doc:id="59b06281-f0bf-4ec4-84ab-62af4afa3ae3" name="salesforce-composite-extend-call-salesforce-sub-flow" />
			</when>
		</choice>
		<ee:transform doc:name="payload" doc:id="6e20131b-8920-428b-89a6-0cff6d64df1c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "compositeResponse" : flatten(vars.results) 
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="salesforce-composite-extend-cleanup-sub-flow" doc:id="518dd17d-6d4d-4bad-93e7-96b42f330d35" name="salesforce-composite-extend-cleanup-sub-flow"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f2a26169-f2cd-4d2d-a7bd-1d47f7376797" type="ANY">
				<ee:transform doc:name="payload" doc:id="649ebb4a-ad32-4425-964a-5f57c8ce3099">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload.compositeResponse[0].httpStatusCode]" doc:name="Set Variable" doc:id="7010989a-2576-41d7-8466-0921ff4b0ed7" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="salesforce-composite-extend-cleanup-sub-flow" doc:id="f50f0b63-f2c3-45f9-97c3-521b36e17947" >
		<remove-variable doc:name="records" doc:id="8afa8f1c-32f8-447f-8ebb-404ebf751f1b" variableName="records"/>
		<remove-variable doc:name="results" doc:id="c4ba7a22-7b4d-4372-8e10-6fcc929fc827" variableName="results" />
		<remove-variable doc:name="methods" doc:id="5e090468-a467-4e9b-b63d-0a185afd1629" variableName="methods" />
		<remove-variable doc:name="method" doc:id="885f78bf-2249-4fe0-bae1-aa12d1f33422" variableName="method" />
		<remove-variable doc:name="refs" doc:id="75602fb1-5719-4b83-9bdb-2252098e77b6" variableName="refs" />
		<remove-variable doc:name="getsCount" doc:id="abb3958c-1c34-4341-93da-eecc617934ad" variableName="getsCount" />
		<remove-variable doc:name="nonGetsCount" doc:id="8d05ec64-c781-4678-a761-87623d5750d6" variableName="nonGetsCount" />
	</sub-flow>
	<sub-flow name="salesforce-composite-extend-call-salesforce-sub-flow" doc:id="516de1ac-78df-481c-abc3-81b6237863f2">
		<logger level="INFO" doc:name="Logger" doc:id="2b1d3bef-711d-4f3f-86b7-7a0ac237b1be" />
		<ee:transform doc:name="create-one-composit" doc:id="98d815a2-5628-4dc9-adca-c24512c8343a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "allOrNone": true,
    "collateSubrequests": false,
    "compositeRequest": vars.records
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke-static doc:name="payloadReplacer" doc:id="6070eb63-ddbd-43b2-a61e-40a62e036015" class="com.varelma.utils.CompositeRequestReplacer" method="transform(java.lang.String,java.lang.Object)" outputMimeType="application/json">
			<java:args><![CDATA[#[%dw 2.0
import * from dw::Runtime
output application/java
---
{ 
	payload:payload,
	vars: vars
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="d0321511-64e5-4fca-9ff9-b53849539c85" message="Composite called with : #[payload]"/>
		<salesforce-composite:execute-composite-request doc:name="Execute composite request" doc:id="e1ca75a2-64ae-4839-bd97-0757a31632bc" config-ref="Salesforce_Composite_Config" />
		<ee:transform doc:name="records" doc:id="7b1d58ce-fc22-4653-8ae1-69e7008c45db">
			<ee:variables>
				<ee:set-variable variableName="results"><![CDATA[%dw 2.0
output application/java
---
(vars.results default []) <<  (payload.compositeResponse default [])]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<choice doc:name="Choice" doc:id="bf55e849-364a-441e-8e42-c72143ded1be">
			<when expression="#[((payload.compositeResponse..httpStatusCode map((item, index) -&gt;  (item ==200 or item == 201) )) contains false)]">
				<logger level="INFO" doc:name="Logger" doc:id="89073ef0-7617-4afd-8a6d-93556cd12ba1" message="Composite request failed response was: #[payload]" />
				<raise-error doc:name="Raise error" doc:id="edcac7bb-d741-401b-8ca1-edb14be20d12" type="SALEFORCE:REQUEST_ERROR" description="SALEFORCE:REQUEST_ERROR" />
			</when>
		</choice>
		<foreach doc:name="For Each" doc:id="a3c8436d-447c-4f3c-8b86-52d44b229efd" collection="payload.compositeResponse">
			<choice doc:name="Choice1" doc:id="95602f40-cb21-4615-84cf-5e709dff7b4b">
			<when expression="#[vars.methods[vars.counter] == 'GET']">
					<ee:transform doc:name="Store result in vars.refs" doc:id="904faea8-3b3f-4854-9419-e54a78b6181f">
						<ee:variables>
							<ee:set-variable variableName="refs"><![CDATA[%dw 2.0
output application/json
---
{(payload.referenceId): payload }++ vars.refs]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<otherwise>
					<ee:transform doc:name="Store result in vars.refs" doc:id="72098409-5ace-441a-9ed3-04419aa06750">
						<ee:variables>
							<ee:set-variable variableName="refs"><![CDATA[%dw 2.0
output application/java
---
{(payload.referenceId): payload.body.id } ++ vars.refs]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
			</otherwise>
		</choice>
		</foreach>
	</sub-flow>
</mule>
